@import url("/static/css/fonts.css");
/* font-family: "FuturaPT"; */
/* font-family: "Montserrat"; */


*,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 42px;
}

a:active,
a:visited {
    color: unset;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font: 16px "Montserrat", sans-serif;
    font-weight: 600;
    color: #1C1B20;
    background-color: #fff;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 30px;
}

.header__container {
    display: flex;
    width: 100%;
    height: 28px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 117px;
    height: 28px;
    background: url(/static/img/eqvi-header-menu-logo.svg) no-repeat center;
    background-size: contain;
}

.header__logo.white {
    background: url(/static/img/eqvi-header-menu-logo-white.svg) no-repeat center;
}

.header__login-and-menu-container {
    display: flex;
    align-items: center;
}

.header__log-in {
    font-size: 14px;
    line-height: 1.4;
    margin-right: 46px;
}

.header__log-in.white {
    color: #fff;
}

.header__menu-button {
    width: 25px;
    height: 10px;
    background-size: contain;
}

.header__menu-button.white {
    background: url(/static/img/header-menu-burger-white.svg) no-repeat center;
}

.header__menu-button.black {
    background: url(/static/img/header-menu-burger.svg) no-repeat center;
}

.intro {
    background: url(/static/img/landing-page-first-screen-photo.jpg) no-repeat center;
    background-size: cover;
    height: 664px;
    color: #fff;
    padding: 165px 0 0;
}

.little-phrase {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 3px;
    margin-bottom: 24px;
    font-weight: 400;
}

.little-phrase span {
    color: #05C0F4;
}

.intro__title {
    font-family: 'Futura PT';
    font-weight: 500;
    font-size: 85px;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.after-title {}

.square-rounded-button {}

.white {}